<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/elon-musk.jpg" /> 
        <!-- img to be changed with profile photo uri -->
      </ion-avatar>
      <ion-label>
        <h2><b>BLACK PUNJU</b></h2>
      </ion-label>    
    </ion-item> 
    <ion-item>
      <ion-button color="success" expand="full" (click)="f.click()">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Update profile photo</ion-label>
      </ion-button>
        <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
          accept="image/png, image/jpeg">

   </ion-item> 
  </ion-card>
  <ion-card>
    <h4>Username:</h4>
    <h4>Location:</h4>
    <h4>ROLE:</h4>
    <h4>Account Created at:</h4>
  </ion-card>
    <ion-button color="success">Edit Profile</ion-button>
   
    
  
  
</ion-content>
